.carousel {

}
.carousel-inner {
    height: 60vh;
}
.carousel-item {
    height: 100%;
}
.carousel-item-img {
    object-fit: cover;
    height: 100%;
}
.detail-carousel-inner {
    height: 400px;
}
.myCardImg {
    height: 200px;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0d6efd;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

