@using AutoTradeHub.ViewModels
@model CarVM;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-4">
	<form method="post" asp-action="Delete">
		<input asp-for="AppUserId" type="hidden" />
		<input asp-for="Id" type="hidden" />
		<button type="submit" class="btn btn-danger">
			Удалить
		</button>
		<a asp-controller="Dashboard" asp-action="MyAds" class="btn btn-secondary">
			Отмена
		</a>
		<input asp-for="Path" hidden />
	</form>
</div>
