@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@Model.Marka.Name</h1>
<p>@Model.Model.Name</p>
<p>@Model.Price</p>
@if (Model.Marka.Name == "Kia")
{
    <p>Эта надпись появляется только если выбрана Kia (условный вывод)</p>
}
